<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

        <link rel="stylesheet" type="text/css" href="react-fetch.css"> 

        <title>Assignment 6</title>
    </head>
    <body>
        <div id="root"></div>
    
        <script type="text/babel">
            function MenuItem({ artwork, onClick, isSelected }) {
                return (
                    <li
                        onClick={() => onClick(artwork.id)}
                        className={isSelected ? 'selected' : ''}
                    >
                    {artwork.title}
                    </li>
                );
            }

            function DetailsView({ artwork }) {
                if (!artwork) {
                    return <p>Select an item to view details.</p>;
                }
                // debug the dimension and medium. Also the author
                console.log('Artwork Object:', artwork);

                return (
                    <div>
                    <h2>{artwork.title}</h2>
                    <div className="artist-info">
                        <p>{artwork.artist_display}</p>
                    </div>
                    {artwork.image_id && (
                        <img src={`https://www.artic.edu/iiif/2/${artwork.image_id}/full/843,/0/default.jpg`} alt={artwork.title} />
                    )}
                    <p dangerouslySetInnerHTML={{ __html: artwork.description }} />
                    <dl>
                        <dt>Date</dt>
                        <dd>{artwork.date_display}</dd>
                        <dt>Dimensions</dt>
                        <dd>{artwork.dimensions || 'Not available'}</dd>
                        <dt>Medium</dt>
                        <dd>{artwork.medium_display || 'Not available'}</dd>
                    </dl>
                    </div>
                );
            }

            function App() {
                const [searchTerm, setSearchTerm] = React.useState('');
                const [searchResults, setSearchResults] = React.useState([]);
                const [selectedArtwork, setSelectedArtwork] = React.useState(null);

                const handleSearchSubmit = (e) => {
                    e.preventDefault();

                    fetch(`http://api.artic.edu/api/v1/artworks/search?q=${searchTerm}`)
                    .then(response => response.json())
                    .then(data => setSearchResults(data.data));
                };

                const handleItemClick = (artworkId) => {
                    fetch(`http://api.artic.edu/api/v1/artworks/${artworkId}`)
                    .then(response => response.json())
                    .then(data => setSelectedArtwork(data.data));
                };

                return (
                    <div>
                        <header>
                            <h1>Art Institute of Chicago</h1>
                            <form onSubmit={handleSearchSubmit}>
                                <input
                                    type="text"
                                    placeholder="Search..."
                                    value={searchTerm}
                                    onChange={(e) => setSearchTerm(e.target.value)}
                                />
                                <button type="submit">Search</button>
                            </form>
                            <ul>
                                
                                {searchResults.map(artwork => (
                                    <MenuItem
                                    key={artwork.id}
                                    artwork={artwork}
                                    onClick={handleItemClick}
                                    isSelected={selectedArtwork && artwork.id === selectedArtwork.id}
                                    />
                                ))}
                            </ul>
                        </header>

                        <main>
                            <DetailsView artwork={selectedArtwork} />
                        </main>
                    </div>
                );
            }

            ReactDOM.render(<App />, document.getElementById('root'));
        </script>
    </body>
</html>
