body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to 100% of viewport height */
}

.wrapper {
  display: flex;
  gap: 2em;
  align-items: center;
  flex: 1; /* Share available height equally */
}

.wrapper p {
  margin: 0;
  padding: 0.5em; /* Adjust the padding to your preference */
}

main {
  display: flex;
  flex-direction: column;
  flex: 1; /* Share available height equally */
  overflow-y: auto;
  padding: 2em;
}
#root{
  flex: 1;
  display: flex;
  flex-direction: row;
}

header {
  flex: 1;

  display: flex;
  flex-direction: column;

  background-color: aliceblue;
  box-shadow: 5px 0px 18px 0px #848484;
  padding: 2em;
}

header form {
  display: flex;
}

header ul {
  flex: 1;
  list-style-type: none;
  padding: 0;
}

header li {
  padding: 0.5em 1em;
  margin: 0.5em;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

header li:hover {
  background-color: #0056b3;
}

header li.selected {
  background-color: #0056b3;
}

main img {
  display: block;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  margin: 2em 0;
}

main div.artist-info {
  font-style: italic;
}